/* Video Styles */
#m {
  position: fixed;
  right:0;
  bottom: 0%;
  
}div.a{position: fixed;
  width: 100%;
  top:0%;
  right: 0;
  background-color: yellow;
  height: 8%;
}.b{
  position: fixed;
  top:100px;
  right: 0%;
  border:20px outset yellow;

  background-color: white;
}.c{
  position: fixed;
  top:200px;
  right: 0%;
  border:20px outset yellow;

  background-color: white;
}


/* Button Styles */
#bt {
  position: fixed;
  bottom: 20px; 
  right:50%;
  border: 10px outset yellow;
}

#bt:hover {
  background:yellow;
  color: black;
}#n3{
  font-family:Algerian;top:300px;border: solid 3px;background: lightblue;position: fixed;left: 90%;
}#n3:hover{
  background:lightcoral;
  color: orange;
}.z{
  bottom: 80px;
  color: black;
  position: fixed;
  width: 100%;
  height: 20%;
  background-color: lightgreen;
}